.auth h2 {
  text-align: center;
}

.control {
  margin-bottom: 0.5rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  border-color: #0070f3;
  background-color: #0070f3;
  color: white;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #0070f3;
}
