.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  padding: 1rem 10% 1.5rem;
}

.header nav {
  margin: 1rem 0 0;
}

.logo {
  font-size: 3rem;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
}

.header button {
  font: inherit;
  background-color: transparent;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}
