.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 1.5rem;
  align-items: normal;
}

.left {
  text-align: left;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

a.link {
  margin: 0 1rem 0 0;
}

a.link:hover,
a.link:focus,
a.link:active {
  color: #0070f3;
  border-color: #0070f3;
}
